body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("images/IMG-20240829-WA0075.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {

    opacity: 1;
    border-radius: 10px;
    border: solid;
    border-color:rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(62, 63, 63);
}

.divider i{
    margin-left: 10px;
   
    color: rgb(246, 3, 31);
}
.divider i:hover{

    color: rgb(56, 7, 248);
}
.truck-image {
    width: 80px;
    height: auto;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background: #0072ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 80px;
    height: 40px;
    margin-bottom: 20px;
}

button:hover {
    background: #005bb5;
}
#login-form p{
    margin-top: 0px;
}
p {
    margin-top:30px;
}


a {
    color:  rgb(3, 3, 229);  
      text-decoration: none;
}

a:hover {
    text-decoration: underline;

    
    color:rgba(25, 122, 232, 0.904);
}

.hidden {
    display: none;
}
